<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>网络公司-首页</title>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/client/blog.css}">
</head>
<body>
<!-- nav部分 -->
<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="index.html">
                <img th:src="@{/img/logo.png}" alt="网络公司">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="product.html">产品</a></li>
                <li class="layui-nav-item"><a href="news.html">动态</a></li>
                <li class="layui-nav-item"><a href="case.html">案例</a></li>
                <li class="layui-nav-item"><a href="about.html">关于</a></li>
                <li class="layui-nav-item"><a href="https://fly.layui.com/store/" target="_blank">模板</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- banner部分 -->
<div>
    <div class="layui-carousel" id="banner">
        <div carousel-item>
            <div>
                <img th:src="@{/img/banner1.jpg}">
                <div class="panel">
                    <p class="title">网络公司</p>
                    <p>完美前端体验</p>
                </div>
            </div>
            <div>
                <img th:src="@{/img/banner2.jpg}">
                <div class="panel">
                    <p class="title">网络公司</p>
                    <p>完美前端体验</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main部分 -->
<div class="main-product">
    <div class="layui-container">
        <p class="title">专为前端而研制的<span>核心产品</span></p>
        <div class="layui-row layui-col-space25">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="content">
                    <div><img th:src="@{/img/Big_icon1.png}"></div>
                    <div>
                        <p class="label">JS基础库</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img th:src="@{/img/Big_icon2.png}"></div>
                    <div>
                        <p class="label">CSS处理</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img th:src="@{/img/Big_icon3.png}"></div>
                    <div>
                        <p class="label">兼容性</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3 ">
                <div class="content">
                    <div><img th:src="@{/img/Big_icon4.png}"></div>
                    <div>
                        <p class="label">响应式</p>
                        <p>从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。</p>
                    </div>
                    <a href="javascript:;">查看产品 ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-service">
    <div class="layui-container">
        <p class="title">为客户打造完美的<span>专业服务</span></p>
        <div class="layui-row layui-col-space25 layui-col-space80">
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/img/home_img1.jpg}"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/img/home_img2.jpg}"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/img/home_img3.jpg}"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6">
                <div class="content">
                    <div class="content-left"><img th:src="@{/img/home_img4.jpg}"></div>
                    <div class="content-right">
                        <p class="label">1 对 1 前端指导</p>
                        <span></span>
                        <p>更有多个包含不同主题的Web组件，可快速构建界面出色、体验优秀的跨屏页面，大幅提升开发效率。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-more"><a href="">查看更多</a></div>
    </div>
</div>
<!-- footer部分 -->
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a href="javascript:;">合作伙伴</a>
            <a href="javascript:;">企业画报</a>
            <a href="javascript:;">JS网</a>
            <a href="javascript:;">千图网</a>
            <a href="javascript:;">昵图网</a>
            <a href="javascript:;">素材网</a>
            <a href="javascript:;">花瓣网</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"><img th:src="@{/img/QRcode.jpg}"></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                        <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;400-8888888&nbsp;&nbsp;(9:00-18:00)</p>
                        <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;iamsongpeng@126.com</span></p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-top"><span class="right">该模板版权归 <a href="https://www.layui.com/" target="_blank">layui.com</a> 所有</span></p>
                        <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2016-2018&nbsp;&nbsp;ICP&nbsp;备888888号</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui/layui.js}"></script>
<![endif]-->
<script>
    layui.use(['jquery', 'element', 'carousel', 'laypage'], function(){
        var $ = layui.jquery
            ,element = layui.element
            ,carousel = layui.carousel
            ,laypage = layui.laypage;

        //轮播渲染
        carousel.render({
            elem: '#banner'
            ,width: '100%'
            ,height: '898px'
            ,arrow: 'always'
        });

        //滚动监听
        $(window).scroll(function() {
            var scr=$(document).scrollTop();
            scr > 0 ? $(".nav").addClass('scroll') : $(".nav").removeClass('scroll');
        });

        //轮播文字
        $(function(){
            $('.banner').children('.title').addClass('active');
        })

        //导航切换
        var btn = $('.nav').find('.nav-list').children('button')
            ,spa = btn.children('span')
            ,ul = $('.nav').find('.nav-list').children('.layui-nav');
        btn.on('click', function(){
            if(!$(spa[0]).hasClass('spa1')){
                spa[0].className = 'spa1';
                spa[1].style.display = 'none';
                spa[2].className = 'spa3';
                $('.nav')[0].style.height = 90 + ul[0].offsetHeight + 'px';
            }else{
                spa[0].className = '';
                spa[1].style.display = 'block';
                spa[2].className = '';
                $('.nav')[0].style.height = 80 + 'px';
            }
        });

        //关于内容
        $('.main-about').find('.aboutab').children('li').each(function(index){
            $(this).on('click', function(){
                $(this).addClass('layui-this').siblings().removeClass('layui-this');
                $('.aboutab').siblings().fadeOut("fast");
                $('.aboutab').siblings().eq(index).fadeIn("");
            });
        });

        //动态分页
        laypage.render({
            elem: 'newsPage'
            ,count: 50
            ,theme: '#2db5a3'
            ,layout: ['page', 'next']
        });

        //案例分页
        laypage.render({
            elem: 'casePage'
            ,count: 50
            ,theme: '#2db5a3'
            ,layout: ['page', 'next']
        });

        //新闻字段截取
        $(function(){
            $(".main-news").find(".content").each(function(){
                var span = $(this).find(".detail").children("span")
                    ,spanTxt = span.html();
                if(document.body.clientWidth > 463){
                    span.html(spanTxt);
                }else{
                    span.html(span.html().substring(0, 42)+ '...')
                };
                $(window).resize(function(){
                    if(document.body.clientWidth > 463){
                        span.html(spanTxt);
                    }else{
                        span.html(span.html().substring(0, 42)+ '...')
                    };
                });
            });
        });
    });
</script>
</body>
</html>