<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songpeng.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.songpeng.system.domain.SysRole">
        <result column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <!-- 根据用户id获取其角色列表 -->
    <select id="getRolesByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT t.*
        FROM SYS_ROLE t,
             SYS_USER_ROLE sur
        WHERE t.ID = sur.ROLE_ID
          AND sur.USER_ID = #{userId}
          AND t.STATUS = '1'
    </select>

    <!-- 根据菜单id查询所属角色 -->
    <select id="getRolesByMenuId" resultMap="BaseResultMap">
        SELECT t.*
        FROM SYS_ROLE t
                 LEFT JOIN SYS_ROLE_MENU srm ON t.ID = srm.ROLE_ID
        WHERE srm.MENU_ID = #{menuId}
        AND t.STATUS = '1'
    </select>
</mapper>